<% include ./partials/header %>
<div align="center" class="container">
  <h1>Sign Up</h1> <hr>
  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="username" class="username"><br>
    <input type="password" name="password" placeholder="password" class="password"><br>
    <button class="btn btn-info">Submit</button>
  </form>
</div>
<% include ./partials/footer %>
