#home-banner{
  text-align: center;
}


#greeting {
  text-align: center;
  /*border: 1px solid black;*/
  /*height: 400px;
  width: 400px;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRVYFBUgg5Ey7fCM2o-wxUsd_-27DR0009DUJR3BCnwAvF1Yhj');
  background-repeat:no-repeat;
  background-size: 100%;
  opacity: .6;*/
  color: rgb(255,120,120);
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

.username {
  height: 26px;
}
.password {
  height: 26px;
}
#caption {
  float: right;
}
#poster {
  background-color: grey;
}

#movie-result {
  text-align: center;
  width: 600px;
}
