<% include ../partials/header %>
<div id="greeting" class="container">
  <h1>Welcome to Movie Troll</h1>
  <h3>The First Social Site to Encourage Trolling</h3>
  <a href="/movies">Start Blabbin</a>
</div>
<% include ../partials/footer %>
